fastapi
uvicorn[standard]
sqlalchemy
asyncpg
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt
alembic
python-multipart
email-validator
eval_type_backport
boto3
openpyxl
httpx
pgvector
